<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!--Table-->
<div class="pozadina" *ngIf="!addMod && !comment && !rating">
<table class="table table-hover table-dark">
        <thead>
          <tr style="background-color: darkgrey">
            <th scope="col">#</th>
            <th scope="col">Naziv objekta</th>
            <th scope="col">CheckIn datum</th>
            <th scope="col">Checkout datum</th>
            <th scope="col">Ukupna cena</th>
            <th scope="col">Kapacitet jedinice</th>
            <th scope="col">Otkazivanje</th>
            <th scope="col">Poruka</th>
            <th scope="col">Ocena</th>
            <th scope="col">Komentar</th>

            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let res of this.reservations; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{res.facilityName}}</td>
            <td>{{res.checkInDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{res.checkOutDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{res.totalPrice}}</td>
            <td>{{res.accommodationUnit.capacity}}</td>
            <td><button *ngIf="res.accommodationUnit.canBeCancelled" type="button" (click)="cancelReservation(res.id)" class="btn btn-danger">Otkazi</button></td>
            <td><button  type="button" (click)="sendMessageClick(res.id)" class="btn btn-primary">Posalji poruku</button></td>
            <td><button  *ngIf="res.isRealised" type="button" (click)="sendRatingClick(res.id)" class="btn btn-primary">Oceni</button></td>
            <td><button *ngIf="res.isRealised" type="button" (click)="sendCommentClick(res.id)" class="btn btn-primary">Komentar</button></td>

        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="addMod && !comment && !rating" class="card mx-xl-5 forma" >

            <form [formGroup]="messageForm">
                    <div class="form-group pozicija">
                            <label for="exampleFormControlTextarea1">Vasa poruka</label>
                            <textarea formControlName="text" class="form-control" rows="5"></textarea>
                            <button type="button" (click)="sendMessage()" class="btn btn-light dugme">Posalji</button>
                    </div>
                </form>
          </div>

      <div *ngIf="!addMod && comment && !rating" class="card mx-xl-5 forma" >
        <form [formGroup]="commentForm">
        <div class="form-group pozicija">
            <label for="exampleFormControlTextarea1">Vas komentar</label>
            <textarea formControlName="text" class="form-control" rows="5"></textarea>
            <button type="button" (click)="sendComment()" class="btn btn-light dugme">Posalji</button>
        </div>
        </form>
      </div>

      <div *ngIf="!addMod && !comment && rating" class="card mx-xl-5 forma" >
          <form [formGroup]="rateForm">
          <div class="form-group pozicija">
              <label for="exampleFormControlTextarea21">Vasa ocena od(1-5)</label>
              <input formControlName="rate" class="form-control" type="number"/>
              <button type="button" (click)="sendRating()" class="btn btn-light dugme">Posalji</button>
          </div>
          </form>
        </div>
          <!-- Card -->