<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


<div class="search-result-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5><b>Poruke: </b>                
                        <button type="button" [class.dugmeklik]="inbox" (click)="getInbox()" class="btn btn-light">Primljene</button>
                        <button type="button" [class.dugmeklik]="sent" (click)="getSent()" class="btn btn-light">Poslate</button>
                    </h5>
                    <hr>
                </div>
            </div>
            
        </div>
    </div>
    <form [formGroup]="messageForm">
    <div class="form-group forma" *ngIf="addMod">
            <label for="exampleFormControlTextarea1">Vasa poruka</label>
            <textarea formControlName="text" class="form-control" rows="5"></textarea>
            <button  type="button" (click)="respondMessage()" class="btn btn-light dugme">Posalji</button>
    </div>
    </form>

    <div class="container" *ngIf="!addMod">
            <div class="row">
                <div class="col-md-9 ">
                    <div class="crane-grid-listing-block">
                        <div class="row" *ngFor="let mes of showingMessages; let ii=index">
                                <div class="col-md-12">
                                <div class="crane-grid-listing clearfix">
                                    <div class="col-md-3 crane-image-block ">
                                            <div class="crane-list-img">
                                                    <img class="img-responsive"src="https://lh3.googleusercontent.com/8l9fwqgx6nJolwrbpVkOaAZr22e1pkG8UREtaRS7wNL6HmAEkx-0djXqzcYJtUSZPEiD=s180">
                                                </div>
                                    </div>
                                    <div class="col-md-7">
                                            <div class="crane-list-content">
                                                 <div class="crane-title">
                                                    <h3>{{mes.date | date: 'dd/MM/yyyy'}}</h3>
                                                </div>
                                      
                                                <!-- <div class="crane-phone">
                                                    <ul class="list-inline">
                                                        <li><i class="fa fa-hotel" style="color: orange"></i> {{fac.facilityType.name}}</li>
                                                        <li><i class="fa fa-star" style="color:orange"></i> {{fac.category.name}}</li>
                                                    </ul>
                                                </div> -->
                                                <div class="crane-address">
                                                    <ul class="list-inline">
                                                        <!-- <li><i class="fa fa-map-marker"></i></li>
                                                            <li>{{fac.location.address}}</li> -->
                                                            <li><i class="fa fa-book" style="color:orange"></i> {{mes.text}}</li>
                                              <!-- <li>Opposite SBI Bank</li>
                                              <li>New Delhi</li>
                                              <li>110062</li> -->
                                                    </ul>
                                                </div>
                                                
                                                <!-- <div class="crane-category">
                                                    <ul class="list-inline">
                                                        <li  *ngFor="let ass of fac.facilityAS "><i class="fa fa-smile-o" style="color:orange"></i><b>{{ass.name}}</b></li>   
                                                    </ul>
                                                </div> -->
                                            </div>
                                        </div>
                                    <div class="col-md-2 padding-b-10 ">
                                            <div class="margin-t-40 hidden-xs"></div>
                                            <!-- <p><i class="fa fa-thumbs-o-up" style="color:orange"></i> {{ (fac.rating/fac.voters).toFixed(1) }}</p>
                                            <p><i class="fa fa-eur" style="color:orange"></i>{{fac.minPrice}} eur/noć</p> -->
                                            <button *ngIf="inbox" (click)="respondMessageClick(mes.idSender)" type="button"class="btn btn-warning btn-block">Odgovori</button>
                                        </div>
                                </div>   
                            </div>
                        </div>
       
                    </div>
                    
                </div>
            </div>
        </div>