.pozadina{
    background-color: rgb(255, 255, 255);
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:13px;
}
.forma{
    background-color: rgb(255, 255, 255);
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:13px;
    padding: 15px;
}

.error {
    margin-top: -20px;
    background: red;
    padding: .5em;
    display: inline-block;
    font-size: .9em;
    margin-bottom: 20px;
}