<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

<div class="top-filter-area bg-blue padding-tb-10">
    <div class="container">
        <div class="row">
            <form [formGroup]="searchForm" >
                <div class="col-sm-2">
                <p>Mesto:</p>
                <input formControlName="destination" type="text" class="form-control" placeholder="Unesite naziv destinacije">
                </div>
                <div class="col-sm-2">
                    <p>Check-In datum</p>
                    <input formControlName="startDate"  class="form-control" type="date" placeholder="Check in" required>
                </div>
                <div class="col-sm-2">
                    <p>Check-Out datum</p>
                    <input formControlName="endDate" class="form-control" type="date" required>
                </div>
                <div class="col-sm-2">
                <p>Broj osoba</p>
                <select  formControlName="persons" class="select-box">
                    <option value="1" selected="selected">
                    1
                    </option>
                    <option value="2">
                    2
                    </option>
                    <option value="3">
                    3
                    </option>
                    <option value="4">
                    4
                    </option>
                    <option value="5">
                    5
                    </option>
                    <option value="6">
                    6
                    </option>
                    <option value="7">
                    7
                    </option>
                </select>
                </div>
                <div class="col-sm-2">
                    <p></p>
                    <button (click)="searchAgain()" type="button" class="btn btn-primary btn-lg btn-block site-btn"><i class="fa fa-search"></i> Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="search-result-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5><b>{{accommodationFacility.name}}</b></h5>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="crane-grid-listing-block">
                    <div class="row" *ngFor="let unit of showingUnits">
                         <div class="col-md-12">
                            <div class="crane-grid-listing clearfix">
                                <div class="col-md-3 crane-image-block ">
                                    <div class="crane-list-img">
                                        <img class="img-responsive"src="https://www.cyclonethemes.com/demo/extretion/wp-content/uploads/2016/08/man-471192_960_720-900x400.jpg">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="crane-list-content">
                                         <div class="crane-title">
                                            <h3><i class="fa fa-hotel" style="color: orange"></i>&nbsp;{{unit.capacity}}-krevetna soba</h3>
                                        </div>
                              
                                        <div class="crane-phone">
                                            <ul class="list-inline">
                                                <li *ngIf="unit.canBeCancelled"><i class="fa fa-star" style="color: orange"></i>Smeštaj može biti otkazan, najkasnije do: {{unit.cancelDate| date: 'dd.MM.yyyy'}}</li>
                                                <li *ngIf="!unit.canBeCancelled"><i class="fa fa-star" style="color:orange"></i>Smeštaj ne može biti otkazan</li>
                                            </ul>
                                        </div>
                                        <div class="crane-address">
                                            <ul class="list-inline">
                                                <li><i class="fa fa-eur" style="color:orange"></i>{{unit.currentPrice}} eur/noć</li>
                                      <!-- <li>Opposite SBI Bank</li>
                                      <li>New Delhi</li>
                                      <li>110062</li> -->
                                            </ul>
                                        </div>
                                        
                                        <div class="crane-category">
                                            <ul class="list-inline">
                                                <li  *ngFor="let ass of unit.unitAS "><i class="fa fa-smile-o" style="color:orange"></i><b>{{ass.name}}</b></li>   
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 padding-b-10 ">
                                    <div class="margin-t-40 hidden-xs"></div>
                                    <p>Ukupno:</p>
                                    <p><i class="fa fa-eur" style="color:orange"></i>{{unit.numberOfDays*unit.currentPrice}} eur</p>
                                    <button (click)="reserve(unit)" type="button"class="btn btn-warning btn-block">Rezerviši</button>
                                </div>
                            </div>   
                        </div>
                    </div>  
                </div>
                
            </div>
            <div class="col-md-3 my">
                <h3 class="sidebar-heading">Dodatne pogodnosti smeštaja</h3>
                <form  class="colorlib-form-2">
                   <div class="form-check" *ngFor="let uas of unitAS">
                    <input type="checkbox" (change)="typeFilterChanged($event,uas.name)" class="form-check-input" id="{{uas.unitServiceName}}">
                    <label class="form-check-label" for="exampleCheck1">
                      <h4 class="place">{{uas.name}}</h4>
                    </label>
                   </div>
                </form>
            </div>

            <div *ngFor="let com of comments" class="col-md-3 my">
                    <h3 class="sidebar-heading">Komentar datuma:{{com.date | date: 'dd/MM/yyyy'}}</h3>
                    <form  class="colorlib-form-2">
                       <div class="form-check">
                        <label class="form-check-label" for="exampleCheck1">
                          <h4 class="place">{{com.text}}</h4>
                        </label>
                       </div>
                    </form>
                </div>
    </div>